#validatemsg{
	font-size: larger;
	color: black;
	font-weight: bolder;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input
{
	padding: 7px;
}
input, select, textarea
{
	background-color: white;
	color: rgb(0, 0, 0);
	font-size: xx-large;
	text-align: center;
	font-weight: bold;
}

input::placeholder
{
	color: rgb(0, 38, 255);
	font-size: xx-large;
	font-weight: bold;
}

.tag
{
	width: 25px;
	height: 25px;
	border: 1px solid black;
}
.top
{
	width: 25px;
	height: 25px;
	border-top: 3px black solid;
}
.top-left
{
	width: 25px;
	height: 25px;
	border-left: 3px black solid;
	border-top: 3px black solid;
}
.top-right
{
	width: 25px;
	height: 25px;
	border-right: 3px black solid;
	border-top: 3px black solid;
}
.bottom
{
	width: 25px;
	height: 25px;
	border-bottom: 3px black solid;
}
.bottom-left
{
	width: 25px;
	height: 25px;
	border-bottom: 3px black solid;
	border-left: 3px black solid;
}
.bottom-right
{
	width: 25px;
	height: 25px;
	border-bottom: 3px black solid;
	border-right: 3px black solid;
}
.left
{
	width: 25px;
	height: 25px;
	border-left: 3px black solid;
}
.right
{
	width: 25px;
	height: 25px;
	border-right: 3px black solid;
}